[submodule "ggtracker"]
	path = ggtracker
	url = https://github.com/Gusgus01/ggtracker.git
	branch = master
[submodule "esdb"]
	path = esdb
	url = https://github.com/Gusgus01/esdb.git
	branch = master
[submodule "sc2reader"]
	path = sc2reader
	url = https://github.com/Gusgus01/sc2reader.git
	branch = upstream
